body{
    margin: 0;
}

main{
    background-color: #ffffff;
    display: flexbox;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

nav{
     background-color: #15886d;
     display: flex;
     margin: 0;
     border-bottom: 2px solid #797979;
     box-shadow: 0px 2px 4px 0px #000000BF;
}

#title-nav{
    color: #ffffff;
    display: flex;
    margin-left: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 131px;
    height: 27px;
    top: 32px;
    left: 10px;
}

#menu-nav{
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
    justify-content: flex-end;
    display: flex;
    color: #ffffff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#img-nav{
    display: flex;
    margin: 0;
    justify-content: right;

}

#nav-list{
    display: flex;
    list-style-type:none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    align-items: right;
    justify-content: right;
    height: 21px;
    top: 34px;
}

#nav-list li{
    align-items: right;
}

#nav-list li a{
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}

#news{
    margin-bottom: 70px;
}

#title-news{
    padding-top: 35px;
    border-top: 1px;
    border-bottom: 80px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #797979;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    height: 54px;

}

#novidades{
    display: flexbox;
}

hr{
    color: #38AF90;
    border: 1px solid #38AF90;
    margin-left: 30px;
    margin-right: 20px;
}

.news{
    display: flexbox;
    flex-direction:initial;
    text-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #f0f0f0;
    border: 1px #38AF90;
    margin: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding-bottom: 20px;

}

.news h1{
    color: #38AF90;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    height: 36px;
    padding-left: 30px;
    padding-top: 20px;
    margin-bottom: 0;
}

.news h2{
    color: #797979;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    left: 147px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    border: 1px;
    padding-left: 30px;
    text-size-adjust: auto;
    font-size: large;
}

.date{
    top: 305px;
    left: 145px;
    gap: 0px;
    opacity: 0px;
    font-family: poppins;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    margin: 0;
}

.news h3{
    margin: 0;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    width: 907px;
    height: 15px;
    top: 305px;
    left: 145px;
    gap: 0px;
    opacity: 0px;
    padding-left: 30px;
}

.news h3 a{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color: #dd7e92;
    padding-bottom: 15px;
    margin-bottom: 35px;
}

#date1{
    color: #38AF90;
}

#date2{
    color: #38AF90;
}

.news p{
    display: flex;
    flex-wrap: wrap;
    top: 623px;
    left: 145px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    color: #797979;
}

#bottom-see-more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border-radius: 9px 9px 9px 9px;
    border: 1px solid #dd7e92;
}

#alinhab{
    display: flex;
    align-items: center;
    justify-content: center;
}

#seemore{
    width: 244px;
    height: 67px;
    top: 798px;
    left: 478px;
    gap: 0px;
    border-radius: 8px 8px 8px 8px;
    opacity: 0px;
    color: #ffffff;
    font-family: poppins;
    font-weight: 700;
    background-color: #dd7e92;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dd7e92;

}

#novidades{
    align-items: center;
    justify-content: center;
}

br{
    display: flex;
    width: 400px;
    height: 400px;
    background-color: #797979;
}

#games{
    padding-top: 0;
    padding-bottom: 50px;
    display:flex;
    background-color: #F0F0F0;
    flex-wrap: wrap;
    padding-left: 20vh;
    padding-right: 20vh;
    align-items: center;
    justify-content: center;
    height: 10%;
    margin: 0;
}

#title-games{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    color: #38AF90;
    margin: auto;
    padding: 10px 0; 
}

.game{
    display: inline-block;
    border: 0 solid #fafafa;
    border-radius: 20px;
    width: 300px;
    height: 280px;
    background-color: #ffffff;
    padding-bottom: 30px;
    margin: 10px;
    box-shadow: 0 0 3px 1px #797979;
}

.game img{
    width: 300px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game h1{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.game h2{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    color: #797979;
}

.game p{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #797979;
}

#jogos{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
}

img {
    border-radius: 20px;
    align-items: center;
    width: 50%;
    height: 50%;
}

#tittle-form{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
    color: #797979;
    display: flex;
    align-items: center;
    justify-content: center;

}

#form-f{
    margin-top: 20px;
    margin-left: 25vh;
    margin-right: 25vh;
    display: flexbox;
    align-items: center;
    justify-content: center;
    gap: 0px;
    opacity: 0px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #f0f0f0;
}

form{
    display: flexbox;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.info-corrida{
    width: 642px;
    height: 50px;
    top: 1665px;
    left: 278px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    padding-top: 5px;
    padding-bottom: 5px;

}

label{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;

}

#formulario{
    gap: 0px;
    opacity: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#fav-plat{
    padding-top: 4px;
    padding-bottom: 4px;
}

#checkbox{
    padding-top: 5px;
    padding-bottom: 5px;
}

input{
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #797979;
    color: #797979;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 20px;
}

#bottom-send{
    font-family: poppins;
    font-weight: 700;
    background-color: #dd7e92;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border-radius: 9px 9px 9px 9px;
    border: 1px solid #dd7e92;
}

#fav-games{
    text-align: left;
    padding-left: 60px;
    padding-right: 2px;
    display:inline-flexbox
}

#fav-plat input{
    margin: 0;
    padding-right: 2px;
    size: 10vh;
}
